body {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-weight: normal;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 5rem;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#linkSocial {
    color: white;
    transition: color 0.3s ease-in-out;
}

#linkSocial:hover {
    color: #ff9900;
}

.card-body h6, .card-body p {
    letter-spacing: normal;
    text-transform: none;
    font-weight: normal;
}

.position-relative {
    position: relative;
}

.btn-overlay {
    position: absolute;
    bottom: 40px; 
    left: 40px;
    background-color: #333;  
    color: yellow;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-overlay:hover {
    background-color: #444;
    transform: scale(1.1);
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
}



